.Subtemp {
    display: inline-block;
    text-align: center;
    padding: 1%;
    font-size: large
}

.Temperature {
    text-align: center;
    font-size: x-large;
}

.label {
    text-align: center;
}
